*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #15141a;
}

#ul__footer > a:hover {
    transform: scale(1.7);
    color: #ffc107;
}

#ul__footer > a > i:hover {
    transform: scale(1.7);
    color: #ffc107;
}