*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #15141a;
}

.title-b:hover {
    /* color: #932f8c; */
    color: #ffc107;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

#ul__footer > a:hover {
    transform: scale(1.7);
    color: #ffc107;
}

#ul__footer > a > i:hover {
    transform: scale(1.7);
    color: #ffc107;
}